# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
%matplotlib inline

df = pd.read_csv("store_data.csv")

In [2]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [3]:
df.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [4]:
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [5]:
# total sales for the last month
df.tail(5)

           week  storeA  storeB  storeC  storeD  storeE
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [6]:
# Total sales
print("Store A total sales = {}".format(df.iloc[196:]['storeA'].sum()))
print("Store B total sales = {}".format(df.iloc[196:]['storeB'].sum()))
print("Store C total sales = {}".format(df.iloc[196:]['storeC'].sum()))
print("Store D total sales = {}".format(df.iloc[196:]['storeD'].sum()))
print("Store E total sales = {}".format(df.iloc[196:]['storeE'].sum()))

Store A total sales = 25127
Store B total sales = 24595
Store C total sales = 16447
Store D total sales = 22783
Store E total sales = 7787

In [7]:
# average sales
print("Store A average sale = {}".format(df['storeA'].mean()))
print("Store B average sale = {}".format(df['storeB'].mean()))
print("Store C average sale = {}".format(df['storeC'].mean()))
print("Store D average sale = {}".format(df['storeD'].mean()))
print("Store E average sale = {}".format(df['storeE'].mean()))

Store A average sale = 5865.48
Store B average sale = 6756.71
Store C average sale = 4942.105
Store D average sale = 5431.405
Store E average sale = 2580.025

In [27]:
# sales on march 13, 2016
df_march_13 = df[df['week'] == '2016-03-13']
print("Store A sale = {}".format(df_march_13.iloc[0,1:]['storeA']))
print("Store B sale = {}".format(df_march_13.iloc[0,1:]['storeB']))
print("Store C sale = {}".format(df_march_13.iloc[0,1:]['storeC']))
print("Store D sale = {}".format(df_march_13.iloc[0,1:]['storeD']))

Store A sale = 2054
Store B sale = 1390
Store C sale = 5112
Store D sale = 5513

In [28]:
# worst week for store C
df_worst_C = df[df['storeC'] == df['storeC'].min()]

In [29]:
df_worst_C

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [30]:
df_worst_C.iloc[0,0]

'2014-07-06'

In [31]:
print("Worst week for store C = {}".format(df_worst_C.iloc[0,0]))

Worst week for store C = 2014-07-06

In [39]:
df_worst_C['storeC'].values[0]

927

In [40]:
print("Minimum sale for store C = {}".format(df_worst_C['storeC'].values[0]))

Minimum sale for store C = 927

In [41]:
# total sales during most recent 3 month period
last_three_months = df[df['week'] >= '2017-12-01']
last_three_months.iloc[:, 1:].sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64